<header id="main-header">
    <nav class="main-nav">
        <!--
        <a href="">about</a>
        <a href="">documentation</a>
        <a href="">API</a>
        -->
    </nav>
    <section>
        <h1>nixfox.de</h1>
        <h2>a super light and friendly url shortener</h2>
    </section>
    
</header>