@{
    ViewData["Title"] = "Home Page";
}
<div class="shortener-form-wrap">    
<section class="shortener-form">
    <h2>Enter your link below and get it shortened, nice and easy.</h2>
    <div class="input-wrap">
        <input type="text" name="url" id="urlshort" placeholder="Shorten your URL" /><button id="submit">Shorten</button>
    </div>
    <div class="resp-area inactive" id="resp-area">

    </div>
</section>
</div>
